* {
  margin: 0;
  padding: 0;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

[class*='col-'] {
  float: left;
}

html {
  height: 100%;
  margin: 40px;
}

body {
  background-color: #f3f5fc;
  height: 100%;
  /* margin: 40px; */
}

main {
  height: 100%;
}

#main {
  display: grid;
  padding-top: 10%;
  place-items: center;
}

#logoAlura {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 48px;
}

#inputMessageBox textarea {
  font-size: 32px;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 10%;
  outline: none;
  resize: none;
  border: none;
  background-color: transparent;
}

#inputMessageBox textarea::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #0a3871;
}

#showMessageBox {
  display: grid;
  place-content: center;
  background-color: #fff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  height: 90%;
  word-wrap: break-word;
}

.clipboardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
  margin: auto auto;
}

.clipboardContainer button {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 40px;
  padding-top: 100px;
}

#aside {
  height: 100%;
}

#doll {
  width: 100%;
}

#buttoms {
  float: left;
  bottom: 72px;
  left: 25%;
  text-align: center;
}

.buttom {
  margin: 5px;
  border-radius: 24px;
  width: 328px;
  height: 67px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

#encrypt {
  background-color: #0a3871;
  color: #fff;
}

#decrypt {
  background-color: transparent;
  color: #0a3871;
}

#firstText {
  width: 100%;
  height: auto;
  word-wrap: break-word;
  hyphens: auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #343a40;
}

#secondText {
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  line-height: 120%;
  text-align: center;
  color: #343a40cb;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  [class*='col-'] {
    width: 100%;
  }
  .hideImg {
    display: none;
  }

  #buttoms {
    display: grid;
    place-content: center;
  }

  #main {
    display: inline-block;
    padding: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  .hideImg {
    display: none;
  }

  #main {
    margin: 0 auto;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 990px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }

  .hideImg {
    display: none;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* For desktop: */
  .col-l-1 {
    width: 8.33%;
  }
  .col-l-2 {
    width: 16.66%;
  }
  .col-l-3 {
    width: 25%;
  }
  .col-l-4 {
    width: 33.33%;
  }
  .col-l-5 {
    width: 41.66%;
  }
  .col-l-6 {
    width: 50%;
  }
  .col-l-7 {
    width: 58.33%;
  }
  .col-l-8 {
    width: 66.66%;
  }
  .col-l-9 {
    width: 75%;
  }
  .col-l-10 {
    width: 83.33%;
  }
  .col-l-11 {
    width: 91.66%;
  }
  .col-l-12 {
    width: 100%;
  }

  #main {
    margin: 0 auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* For desktop: */
  .col-xl-1 {
    width: 8.33%;
  }
  .col-xl-2 {
    width: 16.66%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-5 {
    width: 41.66%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33%;
  }
  .col-xl-8 {
    width: 66.66%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33%;
  }
  .col-xl-11 {
    width: 91.66%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
